.header
    padding-top: 25px 
    padding-bottom: 25px 
    &-container
        display: flex
        justify-content: space-between
        align-items: center
    &-box
        max-width: 700px
        width: 100%
        display: flex
        justify-content: space-between
        &__registration
            max-width: 200px
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
                
        &__link
            color: #626262
            font-size: 16px